* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration-color: rgba(0, 0, 0, 0.87);
    outline-color: rgba(0, 0, 0, 0.87);
}

html, body { height: 100%; }

.grid {
    display: grid; 
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 41px;
}

.header {
    grid-row: 1;
    padding: 0 30px 0 30px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 20px;
    justify-content: end;
    align-items: center;
}

.item {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.search {
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr 44px 1fr;
    justify-self: center;
    justify-items: center;
    grid-row-gap: 27px;
}

.footer {
    grid-row: 3;
    padding: 0 30px 0 30px;
    background: #f2f2f2;
    grid-column-gap: 27px;
    border-top: 1px solid #e4e4e4;
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr repeat(3, auto); 
    align-content: center;
}

.footer .item {
    color: #5f6368;
}

.d p {
    background-color: rgb(70, 131, 234);
}

.c {
    background: url(googlesprites.png);
    background-size: 528px 68px;
    background-position: -137px -43px;
    opacity: .55;
    width: 20px;
    height: 20px;
  }

.k {
    background: url(googlelogo.png);
    width: 272px;
    height: 92px;
    align-self: end;
}

.l {
    width: 582px;
    height: 44px;
    border: 1px solid #dfe1e5;
    background: #fff;
    border-radius: 24px;
}

.search button {
    background-color: rgb(242, 242, 242);
    border: 1px solid #f1f1f1;
    margin: 5px;
    border-radius: 4px;
    color: rgb(95, 99, 104);
    font-size: 14px;
    text-align: center;
    height: 36px;
    padding: 0 16px 0 16px;
    cursor: pointer;
  }

.header button {
    border: 1px solid #4285f4;
    border-radius: 2px;
    background-color: #4387fd;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    padding: 0 12px;
    height: 30px;
}
button:hover {
    color: #000000;
    border-color: #d6d6d6;
}

.mic {
    background: url(icon_microphone.png);
    width: 24px;
    height: 24px;
    background-size: 24px;
    vertical-align: middle;
    margin: 10px 17px 0px  auto;
}